@import url('register.css');
@import url('login.css');
@import url('editProfile.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(rgb(247, 247, 247), white);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    padding: 6rem 1rem;
}

a {
    color: darkblue;
    font-size: 0.8rem;
    text-decoration: none;
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
}

hr {
    height: 2px;
    margin-bottom: 3rem;
    width: 100%;
    background: linear-gradient(90deg, black, white);
    border: none;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Form inputs */

.input-container,
.button-container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 100%;
}

.button-container {
    align-items: center;
}

span.error-message {
    color: red;
    font-size: 10px;
    margin: 5px auto;
    display: none;
}

input.input-style {
    border: none;
    border-radius: 1rem;
    height: 2.5rem;
    padding: .5rem;
}

input.input-style::placeholder {
    color: lightgray;
}

label {
    font-size: 12px;
}

.input-file-container {
    background-color: white;
    border-radius: 1rem;
    height: 2.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
}

select.input-select {
    border: none;
    border-radius: 1rem;
    height: 2.5rem;
    padding: 0.5rem;
}

input.input-style:focus,
.input-file-container,
select.input-select:focus {
    box-shadow: 0 0 6px rgb(255, 255, 255);
    outline: none;
}

.form-container {
    background: linear-gradient(lightgrey, white);
    border-radius: 10px;
    margin: 0 auto;
    height: fit-content;
    height: -moz-fit-content;
    width: 100%;
    padding: 1rem;
}

.check {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    width: 80%;
}

.check label {
    margin-right: 10px;
    position: relative;
    top: -1px;
} 


/* BUTTONS */

.btn {
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    height: 2.5rem;
    text-transform: uppercase;
    width: 8rem;
    font-weight: bold;
}

.btn-submit {
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%,  rgba(39,255,232,0.5) 50%);
    color: rgb(75, 75, 75);
    transition: all 0.3s ease-in-out;
}

.btn-submit:hover {
    color: rgb(172, 172, 172);
    box-shadow: -5px -5px 10px rgba(255, 255, 255, .7);
    background: linear-gradient(285deg, rgba(255,255,255,0.5) 0%,  rgba(39,255,232,0.5) 50%);
}

.btn-reset {
    background:  linear-gradient(45deg, rgba(255,255,255,1) 0%,  rgba(39, 151, 255, 0.5) 50%);
    color: rgb(75, 75, 75);
    transition: all 0.3s ease-in-out;
}

.btn-reset:hover {
    color: rgb(172, 172, 172);
    box-shadow: -5px -5px 10px rgb(255, 255, 255, 0.7);
    background: linear-gradient(285deg, rgba(255,255,255,0.5) 0%,  rgba(39, 151, 255, 0.5) 50%);
}

.btn-edit {
    background:  linear-gradient(45deg, rgba(255,255,255,1) 0%,  rgba(43, 236, 124, 0.5) 50%);
    color: rgb(75, 75, 75);
    transition: all 0.3s ease-in-out;
}

.btn-edit:hover {
    color: rgb(172, 172, 172);
    box-shadow: -5px -5px 10px rgb(255, 255, 255, 0.7);
    background: linear-gradient(285deg, rgba(255,255,255,0.5) 0%,  rgba(43, 236, 124, 0.5) 50%);
}

/* Media queries*/
/* Tablet */

@media screen and (min-width: 475px) {
    .input-container,
    .button-container,
    .input-file-container {
    width: 90%;
    }
    .form-container {
        width: 75%;
    }

}


@media screen and (min-width: 768px) {
    .input-container,
    .button-container,
    .input-file-container {
    width: 80%;
    }
    .form-container {
        width: 50%;
    }

}


